html {
  font-family: sans-serif;
  font-size: min(calc(10px + 0.8vw), 1em);
  background: #eee;
  padding: 1rem;
}

body {
  max-width: 960px;
  margin: 0 auto;
  background: white;
}

h1, h2, h3, h4, h5, h6 {
  color: #3bf;
  margin: 1rem 0;
}

a {
  color: #377ba8;
}

hr {
  border: none;
  border-top: 1px solid lightgray;
}

{
  background: lightgray;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}




/* ----------------------- */
/* NAVBAR */
/* ----------------------- */
nav p  {
  flex: auto;
  padding: 1rem 1rem 0rem;
}

nav p a {
  text-decoration: none;
  color: #3bf;
  font-weight: bold;
  font-size: 1.5em;
}

nav ul  {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  overflow: hidden;
  background-color: #3bf;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

nav ul li a, .menulabel {
  display: block;
  color: white;
  text-align: center;
  padding: 1rem 1rem;
  text-decoration: none;
}

nav ul li a:hover, .menulabel:hover {
  background-color: #dff;
  color: #3bf;
}

/*nav ul li a.active {background-color: #04AA6D;}*/

nav ul li.right {float: right;}

/*Dropdown menu*/
.menulabel{
  position:relative;
  display:block;
  cursor:pointer;
}

.menulabel:after{
  content:"";
  position:absolute;
  display:block;
  top:43%;
  right:5%;
  width:0;
  height:0;
  border-top:4px solid #fff;
  border-bottom:0 solid #fff;
  border-left:4px solid transparent;
  border-right:4px solid transparent;
  }

.menulabel:hover:after{
  content:"";
  position:absolute;
  display:block;
  top:43%;
  right:5%;
  width:0;
  height:0;
  border-top:4px solid #3bf;
  border-bottom:0 solid #3bf;
  border-left:4px solid transparent;
  border-right:4px solid transparent;
  }

.menucheck:checked ~ .menulabel:after{
  border-top:0 solid #3bf;
  border-bottom:4px solid #3bf;
}

.menucheck:checked ~ .menulabel {
  background-color: #dff;
  color: #3bf;
}

.menucheck{display:none}

.submenu{
  display: none;
  flex-wrap: wrap;
  list-style-type: none;
}

.menucheck:checked ~ .submenu, .menulabel:hover ~ .submenu, .submenu:hover {
  transition:max-height 0.5s ease-in;
  display: flex;
  flex-flow: column wrap;
  list-style-type: none;
  overflow: hidden;
  background-color: #3bf;
  font-weight: bold;
  transition:max-height 0.5s ease-out;
  position:absolute;
}

.submenu li a {
  color: white;
  text-align: left;
  padding: 1rem 1rem;
  text-decoration: none;
}

.submenu li a:hover {
  background-color: #dff;
  color: #3bf;
}



/* ----------------------- */
/* FOOTER */
/* ----------------------- */
footer {
  background: #3bf;
  color: white;
  text-align: center;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover:not(.active) {
  color: black;
  text-decoration: underline; 
}



/* ----------------------- */
/* CONTENT */
/* ----------------------- */
.content {
  padding: 0 1rem 1rem;
}

.content > header {
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: flex-end;
}

.content > header h1 {
  flex: auto;
  margin: 1rem 0 0.25rem 0;
}

.flash {
  margin: 1em 0;
  padding: 1em;
  background: #cae6f6;
  border: 1px solid #377ba8;
}


.content form {
  margin: 0em 0;
  display: flex;
  flex-direction: column;
}

.content label {
  margin-bottom: 0.5em;
}

.content textarea {
  min-height: 12em;
  resize: vertical;
  margin-bottom: 1em;
}

/* ----------------------- */
/* FORM INPUTS */
/* ----------------------- */
/* select2 refers to select2 boxes */
/* text-input refers to score input */
.select2, .text-input {
  width: 50% !important;
  height: 2.4375em !important;
}
.select2-selection--single, .select2-selection__rendered, .select2-selection__arrow,
.select2-selection__clear
{
  height: 2.4375em !important;
}
.text-input {
  display: block;
  font-family:inherit;
  font-size:inherit;
  box-sizing: border-box;
  padding: 0 8px 0;
}
.text-input, .select2-selection--single {
  box-shadow: inset 0 1px 2px rgba(10,10,10,.1) !important;
  border: 1px solid #aaa !important;
  border-radius: 4px !important;
}
.text-input:hover, .select2-selection--single:hover {
  outline: 2px solid #3bf !important;
}
.text-input:focus, .select2:focus {
  outline: none !important;
}

.select2-selection__placeholder, .select2-selection__rendered {
  line-height: 2.4375em !important;
}

input.danger {
  color: #cc2f2e;
}

input[type=submit] {
  padding: 0.25rem;
  align-self: start;
  min-width: 10em;
  background-color: #3bf;
  color: white;
  border-radius: 0.5rem;
  box-shadow: 0px;
  margin-bottom: 1em;
}

input[type=submit]:hover {
  background-color: #4cf;
}

/* ----------------------- */
/* TABLES */
/* ----------------------- */

table{
  table-layout: auto;
  border-collapse: collapse;
}

th, td {
    border: None;
    overflow-wrap: break-word;
    overflow: hidden;
}

/* Handicap Table*/
.hctable {
  text-align: right;
  font-size: min(calc(6px + 0.8vw), 1em);
}

.hctable th, .hctable td{
  width: 10vw;
  padding-left: 10px
}

.hctable th:first-child, .hctable td:first-child {
  font-weight: bold;
  text-align: center;
}

.classtable tbody tr:nth-child(odd), .hctable tbody tr:nth-child(odd), .comparetable tbody tr:nth-child(odd),
.eventtable tbody tr:nth-child(odd) {
  background-color: #eee;
}


/* Classification and EventClassification Table*/
.classtable, .eventtable {
  width: 100%;
  text-align: center;
  font-size: min(calc(5px + 0.8vw), 1em);
}

.classtable th:first-child, .classtable td:first-child,
.eventtable th:first-child, .eventtable td:first-child {
  white-space: nowrap;
  font-weight: bold;
  text-align: right;
}

.eventtable th:nth-child(2), .eventtable td:nth-child(2) {
  text-align: left;
  padding-left: 10px
}



.row {
  display: flex;
  flex-wrap: wrap;
}
.column {
  padding: 1%;
}
.comparetable {
  box-sizing: border-box;
  text-align: left;
  font-size: min(calc(5px + 0.8vw), 1em);
}
.comparetable td {
}
.comparetable td:first-child {
  padding-right: 20px;
}
.comparetable td:nth-child(2) {
  text-align: right;
}



/* Info Page Classification Table*/
.infoclasstable {
  width: 100%;
  text-align: center;
  font-size: min(calc(6px + 0.8vw), 1em);
}

.infoclasstable th, .infoclasstable td{
  border: 1px solid black;
}

.infoclasstable tbody tr{
  height: 100px;
}

.infoclasstable th:nth-child(2), .infoclasstable td:nth-child(2){
 width: 20%;
}
