{% macro render_field(field) %}
  <dt>{{ field.label }}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}

{% macro render_textin_field(field) %}
  <span >{{ field.label }}:</span>
  <span>{{ field(**kwargs)|safe }}</span>
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  &nbsp;
{% endmacro %}

{% macro render_box(field) %}
  <span >{{ field.label }}: {{ field()|safe }}</span>
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  &nbsp;
{% endmacro %}

{% macro render_field_with_box(mainfield, boxfield) %}
  <span >{{ mainfield.label }}: {{ mainfield(**kwargs)|safe }}</span>
  {% if mainfield.errors %}
    <ul class=errors>
    {% for error in mainfield.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  <span >{{ boxfield.label }}: {{ boxfield()|safe }}</span>
  &nbsp;
{% endmacro %}

{% macro render_box_list(fields) %}
  {% for field in fields %}
  <span style = "margin-left: 40px">{{ field()|safe }} - {{ field.label }}</span><br>
  {% endfor %}
  &nbsp;
{% endmacro %}

{% macro render_field_with_unit(mainfield, unitfield) %}
<span>{{ mainfield(**kwargs)|safe }} {{ unitfield()|safe }}</span>
  {% if mainfield.errors %}
    <ul class=errors>
    {% for error in mainfield.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% macro render_handicap_table(rounds, results) %}
<table class="hctable">
   <thead>
     <tr>
       <th>Handicap</th>
       {% for item in rounds %}
         <th>{{ item }}</th>
       {% endfor %}
     </tr>
   </thead>
   <tbody>
      {% for row in results %}
        <tr>
        {% for item in row %}
          <td>{{ item|int if item != -9999 else '' }}</td>
        {% endfor %}
        </tr>
      {% endfor %}
   </tbody>
</table>
{% endmacro %}

{% macro render_classification_table(classes, rounds, results) %}
<table class="classtable">
   <thead>
     <tr>
       <th>Round</th>
       {% for item in classes %}
         <th>{{ item }}</th>
       {% endfor %}
     </tr>
   </thead>
   <tbody>
      {% for row in results %}
        <tr>
        {% for item in row %}
          <td>{{ item if item != '-9999' else '' }}</td>
        {% endfor %}
        </tr>
      {% endfor %}
   </tbody>
</table>
{% endmacro %}


{% macro render_round_comparison(results) %}
{% for item in results %}
    <div class="column">
    <table class="comparetable">
    <b>{{ item }}</b>
      <tbody>
        {% for round in results[item] %}
          <tr>
            <td>{{ round }}</td>
            <td>{{ '%0.0f'|format(results[item][round]) }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>


<br>
{% endfor %}
{% endmacro %}


{% macro render_round_list(results) %}
{% for item in results %}

  {% if results[item]["round_name"]|length > 33 %}
  <div class="column">
  <table class="comparetable">
  <b>{{ item }}</b>
  <tbody>
  {% for round in results[item]["round_name"][:33] %}
    <tr>
      <td>{{ round }}</td>
    </tr>
  {% endfor %}
  </tbody>
  </table>
  </div>
  <div class="column">
  <table class="comparetable">
      <b><br></b>
  <tbody>
  {% for round in results[item]["round_name"][33:] %}
    <tr>
      <td>{{ round }}</td>
    </tr>
  {% endfor %}
  </tbody>
  </table>
  </div>

  {% else %}
  <div class="column">
  <table class="comparetable">
  <b>{{ item }}</b>
  {% for round in results[item]["round_name"] %}
    <tr>
      <td>{{ round }}</td>
    </tr>
  {% endfor %}
  </tbody>
  </table>
  </div>

{% endif %}

<br>
{% endfor %}
{% endmacro %}
