<!doctype html>

<head>
    <!-- <title>Archery Handicap and Classification Calculator archerycalculator.co.uk</title> -->
    <script src="https://kit.fontawesome.com/5e18878647.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name=description content="The best archery handicap and classification calculator available.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WW52R2Y5K4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-WW52R2Y5K4');
</script>


<body>
<title>{% block title %}{% endblock %}ArcheryCalculator.co.uk</title>

<nav>
    <h1><a href="/">ArcheryCalculator.co.uk</a></h1>
  <ul>
    <li><a href="{{ '/' }}">Calculator</a></li>

    <li>
    <input id="check00" type="checkbox" name="menu" class="menucheck"/>
    <label class="menulabel" for="check00">Tables</label>
        <ul class="submenu">
            <li><a href="{{ '/tables/handicap' }}">Handicaps</a></li>
            <li><a href="{{ '/tables/classification' }}">Classifications</a></li>
        </ul>
    </li>
    
    <li><a href="{{ '/rounds' }}">Rounds</a></li>

    <li>
    <input id="check01" type="checkbox" name="menu" class="menucheck"/>
    <!--<label for="check01"><a href="{{ '/extras/groups' }}">Extras</a></label> -->
    <label class="menulabel" for="check01">Extras</label>
        <ul class="submenu">
            <li><a href="{{ '/extras/groups' }}">Group Sizes</a></li>
        </ul>
    </li>
    
    <li><a href="{{ '/info' }}">Information</a></li>
    <li><a href="{{ '/about' }}">About</a></li>
  </ul>
</nav>

<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>

  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}

  {% block content %}{% endblock %}
</section>

<footer>
    <p> website by <a href="https://jackatkinson.net/" target="_blank">jack atkinson</a> &#169; 2023 - <a href="https://github.com/jatkinson1000/archerycalculator" class="fa-brands fa-github" target="_blank"></a> - <a href="https://www.buymeacoffee.com/jackatkinsr" class="fa-solid fa-mug-hot" target="_blank"></a> - <a href="https://www.paypal.com/donate/?hosted_button_id=JEABJ3UJU4XD4" class="fa-brands fa-cc-paypal" target="_blank"></a> </p>
</footer>

</body>
