<!doctype html>

<head>
    <!-- <title>Archery Handicap and Classification Calculator archerycalculator.co.uk</title> -->
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/5e18878647.js" crossorigin="anonymous"></script>
    <!-- Select2 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        // In your Javascript (external .js resource or <script> tag)
        $(document).ready(function() {
            $('.select2-js-basic').select2({
                placeholder: "Select",
            });
            $(".select2-js-basic-hide-search").select2({
                minimumResultsForSearch: Infinity,
                placeholder: "Select",
            });
        });

        $(document).on('select2:open', () => {
            document.querySelector('.select2-search__field').focus();
        });


    </script>
    
    <!-- Language -->
    <meta http-equiv='content-language' content='en-gb'>
    
    <!-- User -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Page specific attributes -->
    <title>{% block title %}{% endblock %} ArcheryCalculator.co.uk</title>
    {% block meta %}{% endblock %}
    <meta name="theme-color" content="#3bf">
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WW52R2Y5K4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-WW52R2Y5K4');

  {% block head %}{% endblock %}

</script>


<body>

<nav>
    <p><a href="/" class="site-title">ArcheryCalculator.co.uk</a></p>
  <ul>
    <li><a href="{{ '/' }}">Calculator</a></li>

    <li>
    <input id="check00" type="checkbox" name="menu" class="menucheck"/>
    <label class="menulabel" for="check00">Tables</label>
        <ul class="submenu">
            <li><a href="{{ '/tables/handicap' }}">Handicaps</a></li>
            <li><a href="{{ '/tables/classification' }}">Classifications</a></li>
            <li><a href="{{ '/tables/classbyevent' }}">Classifications by event</a></li>
        </ul>
    </li>
    
    <li><a href="{{ '/rounds' }}">Rounds</a></li>

    <li>
    <input id="check01" type="checkbox" name="menu" class="menucheck"/>
    <label class="menulabel" for="check01">Extras</label>
        <ul class="submenu">
            <li><a href="{{ '/extras/groups' }}">Group Sizes</a></li>
            <li><a href="{{ '/extras/roundscomparison' }}">Round Comparisons</a></li>
        </ul>
    </li>
    
    <li>
    <input id="check02" type="checkbox" name="menu" class="menucheck"/>
    <label class="menulabel" for="check02">Sight</label>
        <ul class="submenu">
            <li><a href="{{ '/sight/distance-conversion' }}">Distance Conversions</a></li>
        </ul>
    </li>

    <li><a href="{{ '/info' }}">Information</a></li>
    <li><a href="{{ '/about' }}">About</a></li>
  </ul>
</nav>

<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>

  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}

  {% block content %}{% endblock %}
</section>

<footer>
    <p> website by <a href="https://jackatkinson.net/" target="_blank">jack atkinson</a> &#169; 2025 - <a href="https://github.com/jatkinson1000/archerycalculator" class="fa-brands fa-github" target="_blank"></a> - <a href="https://www.buymeacoffee.com/jackatkinsr" class="fa-solid fa-mug-hot" target="_blank"></a> - <a href="https://www.paypal.com/donate/?hosted_button_id=JEABJ3UJU4XD4" class="fa-brands fa-cc-paypal" target="_blank"></a> </p>
</footer>

</body>
