{% extends 'base.html' %}


{% block header %}
  <h1>{% block title %}Archery Handicap and Classification Calculator{% endblock %}</h1>
{% endblock %}


{% block meta %}
    <meta name="description" content="Calculator app for handicaps and classifications from World Archery, Archery GB, IFAA, and other rounds using UK archery handicap and classification systems.">
    <meta property="og:title" content="Archery Handicap and Classification Calculator - ArcheryCalculator.co.uk">
    <meta property="og:description" content="Calculator app for handicaps and classifications from World Archery, Archery GB, IFAA, and other rounds using UK archery handicap and classification systems.">
    <meta property="og:url" content="https://archerycalculator.co.uk">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://archerycalculator.co.uk/static/image.png">
    <link rel="canonical" href="https://archerycalculator.co.uk">
    <!-- <link rel="icon" href="url_to_image" sizes="ssxss"> -->
{% endblock %}


{% block content %}
<span style="color: red; font-size: 0.8em; margin: 0; padding: 0;">
    What's New:
    <ul style="margin: 0 0 -1rem 0;">
      <li style="margin:0 1rem 0 0">Added colouring of classification tables.</li>
      <li style="margin:0 1rem 0 0">Significant back-end updates to <a href="https://github.com/jatkinson1000/archeryutils">archeryutils</a>.</li>
    </ul>
</span>
  <br>
  <p>
  This calculator can be used to calculate handicaps and classifications for scores.
  <br>
  <br>
  Select your category and round, provide a score, and click 'Calculate' to get the results.
  <br>
  <br>
  See the other pages for generating a full set of <a href="/tables/handicap">handicap</a> or <a href="/tables/classification">classification</a> tables.
  </p>

  {% from "_formhelpers.html" import render_textin_field, render_select2_field, render_select2_no_search_field, render_checkbox %}
  <form method=post>
    {{ render_select2_no_search_field(form.bowstyle) }}
    {{ render_select2_no_search_field(form.gender) }}
    {{ render_select2_no_search_field(form.age) }}
    {{ render_select2_field(form.roundname) }}
    {{ render_textin_field(form.score) }}
    <input type=submit value=Calculate>

  {% if error %}
  <p style="color: red;">{{ error }}</p>
  {% endif %}

    {% if results %}
      <p>
      The <b>handicap</b> for a score of {{ results["score"] }} on a {{ results["roundname"] }} is <b>{{ '%0.0f'|format(results["handicap"]) }}</b>.
        {% if warning_handicap_round %}
        <br><span style="color: red; font-size: 0.8em">{{ warning_handicap_round }}</span>
        {% endif %}
        {% if warning_handicap_system %}
        <br><span style="color: red; font-size: 0.8em">{{ warning_handicap_system }}</span>
        {% endif %}
      </p>
      {% if results["decimal_handicap"] %}
      <p>
      The <b>decimal handicap</b> for a score of {{ results["score" ]}} on a {{ results["roundname"] }} is <b>{{ '%0.3f'|format(results["decimal_handicap"]) }}</b>.
      </p>
      {% endif %}
      <p>
        Your <b>classification</b> for a score of {{ results["score"] }} on a {{ results["roundname"] }} is <b>{{ results["classification"] }}</b>.
        {% if warning_bowstyle %}
        <br><span style="color: red; font-size: 0.8em">{{ warning_bowstyle }}</span>
        {% endif %}
      </p>
      <p>
      The <b>maximum</b> possible score on a {{ results["roundname"] }} is <b>{{ results["maxscore"] }}</b>.
      </p>
      <p>
      To see comparable scores on other rounds visit the <a href="/extras/roundscomparison">round comparison page</a>.
      </p>
      <p style="margin-bottom: 0;">
      This handicap represents an angular spread of {{ '%0.3f'|format(sig_t) }} degrees at the bow and
      typical group size of:
      </p>
         <ul style="margin-top: auto; margin-bottom: 0;">
             <li>{{ '%0.1f'|format(sig_r_18) }}cm at 18m</li>
             <li>{{ '%0.1f'|format(sig_r_50) }}cm at 50m</li>
             <li>{{ '%0.1f'|format(sig_r_70) }}cm at 70m</li>
         </ul>
      <p style="margin-top: 0;">
      For group sizes at more distances visit the <a href="/extras/groups">group sizes page</a>.
      </p>
    {% endif %}

    <hr width="100%" 
        align="center">
    <span style="font-size: .8em;"> 
        <p>
            The following are 'advanced' options which should be left unchanged by the average user.
            <br>
            Adjusting these values may produce results that do not match the official Archery GB Handicap tables.
        </p>

        <span>
            Select this option to return a fractional handicap corresponding to the exact score rather than the whole numbers from the official tables.
        </span>
        <br>
        {{ render_checkbox(form.decimalHC) }}
    
        <br>
        <br>
        
        <span>
            The tables are generated using an average arrow diameter. Here you can specify the value to use.
            <br>
            The maximum value allowed by World Archery is 9.3mm.
        </span>
        <br>
        {{ render_textin_field(form.diameter) }}
    
        <br>
        <br>

        <span>
            Use an alternative scheme for calculating the handicap (Note this does not affect the classifications).
        </span>
        <br>
        {{ render_select2_no_search_field(form.scheme) }}
    </span>

  </form>

{% endblock %}
