{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Archery Handicap and Classification Calculator{% endblock %}</h1>
{% endblock %}

{% block content %}

  <p>
  This calculator can be used to calculate handicaps and classifications for scores.
  <br>
  Select your category and round, provide a score, and click 'Calculate' to get the results.
  <br>
  See the other pages for generating a full set of <a href="/tables/handicap">handicap</a> or <a href="/tables/classification">classification</a> tables.
  </p>

  <datalist id="roundlist">
  {% for round in rounds %}
  <option>{{round}}</option>
  {% endfor %}
  </datalist>

  {% from "_formhelpers.html" import render_textin_field %}
  <form method=post>
    {{ render_textin_field(form.bowstyle) }}
    {{ render_textin_field(form.gender) }}
    {{ render_textin_field(form.age) }}
    {{ render_textin_field(form.roundname, list="roundlist") }}
    {{ render_textin_field(form.score) }}
    <input type=submit value=Calculate>

  {% if error %}
  <p style="color: red;">{{ error }}</p>
  {% endif %}

    {% if results %}
      <p>
      The <b>handicap</b> for a score of {{ results["score"] }} on a {{ results["roundname"] }} is <b>{{ '%0.0f'|format(results["handicap"]) }}</b>.
        {% if warning_handicap_round %}
        <br><span style="color: red; font-size: 0.8em">{{ warning_handicap_round }}</span>
        {% endif %}
        {% if warning_handicap_system %}
        <br><span style="color: red; font-size: 0.8em">{{ warning_handicap_system }}</span>
        {% endif %}
      </p>
      {% if results["decimal_handicap"] %}
      <p>
      The <b>decimal handicap</b> for a score of {{ results["score" ]}} on a {{ results["roundname"] }} is <b>{{ '%0.3f'|format(results["decimal_handicap"]) }}</b>.
      </p>
      {% endif %}
      <p>
        Your <b>classification</b> for a score of {{ results["score"] }} on a {{ results["roundname"] }} is <b>{{ results["classification"] }}</b>.
        {% if warning_bowstyle %}
        <br><span style="color: red; font-size: 0.8em">{{ warning_bowstyle }}</span>
        {% endif %}
      </p>
      <p>
      The <b>maximum</b> possible score on a {{ results["roundname"] }} is <b>{{ results["maxscore"] }}</b>.
      </p>
      <p>
      To see comparable scores on other rounds visit the <a href="/extras/roundscomparison">Round Comparison page </a>.
      </p>
      <p>
      This handicap represents an angular spread of {{ '%0.3f'|format(sig_t) }} degrees at the bow and
         typical group font-sizes of:
         <ul style="margin-top: auto;">
             <li>{{ '%0.1f'|format(sig_r_18) }}cm at 18m</li>
             <li>{{ '%0.1f'|format(sig_r_50) }}cm at 50m</li>
             <li>{{ '%0.1f'|format(sig_r_70) }}cm at 70m</li>
         </ul>
      </p>
    {% endif %}

    <hr width="100%" 
        align="center">
    <span style="font-size: .8em;"> 
        <p>
            The following are 'advanced' options which should be left unchanged by the average user.
            <br>
            Adjusting these values may produce results that do not match the official Archery GB Handicap tables.
        </p>

        <span>
            Select this option to return a fractional handicap corresponding to the exact score rather than the whole numbers from the official tables.
        </span>
        <br>
        {{ render_textin_field(form.decimalHC) }}
    
        <br>
        <br>
        
        <span>
            The tables are generated using an average arrow diameter. Here you can specify the value to use.
            <br>
            The maximum value allowed by World Archery is 9.3mm.
        </span>
        <br>
        {{ render_textin_field(form.diameter) }}
    
        <br>
        <br>

        <span>
            Use an alternative scheme for calculating the handicap (Note this does not affect the classifications).
        </span>
        <br>
        {{ render_textin_field(form.scheme) }}
    </span>

  </form>

{% endblock %}
