{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Archery Classification Table Generator{% endblock %}</h1>
{% endblock %}


{% block meta %}
    <meta name="description" content="A utility for generating classification tables for Archery GB and World Archery indoor and outdoor target and field rounds using the UK archery classification system.">
    <meta property="og:title" content="Archery Classification Table Generator - ArcheryCalculator.co.uk">
    <meta property="og:description" content="A utility for generating classification tables for Archery GB and World Archery indoor and outdoor target and field rounds using the UK archery classification system.">
    <meta property="og:url" content="https://archerycalculator.co.uk">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://archerycalculator.co.uk/static/image.png">
    <link rel="canonical" href="https://archerycalculator.co.uk/tables/classification">
    <!-- <link rel="icon" href="url_to_image" sizes="ssxss"> -->
{% endblock %}


{% block content %}

  <p>
  Generate classification tables using the Archery GB target schemes.
  <br>
  For a summary of the various classification schemes see the <a href="/info">information page</a>.
  Full regulations can be found in the <a href="https://archerygb.org/resources/find-a-document", target="blank">Shooting Administration Procedures (SAP7)</a>.
  <br>
  Select your category and click 'Generate' to produce a table of scores.
  </p>

    {% from "_formhelpers.html" import render_textin_field %}
  <form method=post>
    {{ render_textin_field(form.bowstyle) }}
    {{ render_textin_field(form.gender) }}
    {{ render_textin_field(form.age) }}
    {{ render_textin_field(form.discipline) }}
    <input type=submit value=Generate>

  {% if error %}
  <p style="color: red;">{{ error }}</p>
  {% endif %}

  {% if results is defined %}
    {% from "_formhelpers.html" import render_classification_table %}
    {{ render_classification_table(classes, roundnames, results) }}
  {% endif %}

{% endblock %}
