{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Archery Classification Table Generator{% endblock %}</h1>
{% endblock %}

{% block content %}

  <p>
  Generate classification tables using the Archery GB target schemes.
  <br>
  Select your category and click 'Generate' to produce a table of scores.
  </p>

    {% from "_formhelpers.html" import render_textin_field %}
  <form method=post>
    {{ render_textin_field(form.bowstyle) }}
    {{ render_textin_field(form.gender) }}
    {{ render_textin_field(form.age) }}
    {{ render_textin_field(form.discipline) }}
    <input type=submit value=Generate>

  {% if error %}
  <p>{{ error }}</p>
  {% endif %}

  {% if results is defined %}
    {% from "_formhelpers.html" import render_classification_table %}
    {{ render_classification_table(classes, roundnames, results) }}
  {% endif %}

{% endblock %}
