{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Archery Classification Table Generator{% endblock %}</h1>
{% endblock %}

{% block content %}

  <p>This page can be used to generate classification tables using the Archery GB target outdoor scheme. Select your category and click generate to produce a table of scores.</p>

  <datalist id="bowstylelist">
  {% for bowstyle in bowstyles %}
  <option>{{bowstyle['bowstyle']}}</option>
  {% endfor %}
  </datalist>

  <datalist id="genderlist">
  {% for gender in genders %}
  <option>{{gender['gender']}}</option>
  {% endfor %}
  </datalist>

  <datalist id="agelist">
  {% for age_group in ages %}
  <option>{{age_group['age_group']}}</option>
  {% endfor %}
  </datalist>

  {% from "_formhelpers.html" import render_textin_field %}
  <form method=post>
    {{ render_textin_field(form.bowstyle, list="bowstylelist") }}
    {{ render_textin_field(form.gender, list="genderlist") }}
    {{ render_textin_field(form.age, list="agelist") }}
    <input type=submit value=Generate>

  {% if error %}
  <p>{{ error }}</p>
  {% endif %}

  {% if results is defined %}
    {% from "_formhelpers.html" import render_classification_table %}
    {{ render_classification_table(roundnames, results) }}
  {% endif %}

{% endblock %}
