{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Archery Classification Tables by Event{% endblock %}</h1>
{% endblock %}


{% block meta %}
    <meta name="description" content="A utility for generating classification tables for Archery GB and World Archery indoor and outdoor target and field round families using the UK archery classification system.">
    <meta property="og:title" content="Archery Classification Tables by Event - ArcheryCalculator.co.uk">
    <meta property="og:description" content="A utility for generating classification tables for Archery GB and World Archery indoor and outdoor target and field round families using the UK archery classification system.">
    <meta property="og:url" content="https://archerycalculator.co.uk">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://archerycalculator.co.uk/static/image.png">
    <link rel="canonical" href="https://archerycalculator.co.uk/tables/classbyevent">
    <!-- <link rel="icon" href="url_to_image" sizes="ssxss"> -->
{% endblock %}


{% block content %}

  <p>
  Generate classification tables using the Archery GB classification schemes for particular events.
  <br>
  For a summary of the various classification schemes see the <a href="/info">information page</a>.
  <br>
  These tables are useful for coaches or tournament organisers to print out for a specific event as a quick record for all competitors.
  <br>
  <br>
  Select the round family and bowstyle and click 'Generate' to produce a table of classification scores for all ages and genders on their appropriate rounds.
  The resulting table will show classifications available on the age-, bowstyle-, and gender-appropriate round.
  </p>
  <span style="color: red;">Note: Indoor classifications are <b>provisional</b> pending release by Archery GB.</span><br><br>

    {% from "_formhelpers.html" import render_select2_no_search_field, render_select2_field, render_box %}
  <form method=post>
    {{ render_select2_no_search_field(form.bowstyle) }}
    {{ render_select2_field(form.roundfamily) }}
    {{ render_box(form.restrict_to_named, "By default rounds will be shown based on longest distance. Select this to restrict all adults to shooting the named round (e.g. National).") }}
    <input type=submit value=Generate>

  {% if error %}
  <p style="color: red;">{{ error }}</p>
  {% endif %}

  {% if results is defined %}
    {% from "_formhelpers.html" import render_event_table %}
    {{ render_event_table(classes, results) }}
  {% endif %}

{% endblock %}
