{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Archery Handicap Table Generator{% endblock %}</h1>
{% endblock %}

{% block content %}

  <p>This page can be used to generate handicap tables for up to 7 rounds using the Archery GB handicap scheme.
  <br>
  Select 1 or more rounds and click 'Generate' to produce a handicap table of scores.</p>
  <p>You can also generate a table of allowances for handicap shoots by checking the 'Create Allowance Table' box.</p>

  <datalist id="roundlist">
  {% for round in rounds %}
  <option>{{round}}</option>
  {% endfor %}
  </datalist>

  {% from "_formhelpers.html" import render_textin_field %}
  <form method=post>
      {{ render_textin_field(form.round1, list="roundlist") }}
      {{ render_textin_field(form.round2, list="roundlist") }}
      {{ render_textin_field(form.round3, list="roundlist") }}
      {{ render_textin_field(form.round4, list="roundlist") }}
      {{ render_textin_field(form.round5, list="roundlist") }}
      {{ render_textin_field(form.round6, list="roundlist") }}
      {{ render_textin_field(form.round7, list="roundlist") }}
      {{ render_textin_field(form.allowance) }}
    <input type=submit value=Generate>

  </form>

  {% if error %}
    <p>{{ error }}</p>
  {% endif %}

  {% if results is defined %}
    {% from "_formhelpers.html" import render_handicap_table %}
    {{ render_handicap_table(roundnames, results) }}
  {% endif %}

{% endblock %}
