{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Example New Field Classifications{% endblock %}</h1>
{% endblock %}


{% block meta %}
    <meta property="og:title" content="Archery New Field Classification Templates - ArcheryCalculator.co.uk">
    <meta property="og:description" content="App to generate classification tables for Archery GB and World Archery indoor, outdoor, and field rounds using UK archery classification system.">
    <meta property="og:url" content="https://archerycalculator.co.uk">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://archerycalculator.co.uk/static/image.png">
    <link rel="canonical" href="https://archerycalculator.co.uk/tables/classification">
    <!-- <link rel="icon" href="url_to_image" sizes="ssxss"> -->
{% endblock %}


{% block content %}

  <p>
  This page is a preview of the "new" Archery GB field classifications for iteration of score boundaries and rules prior to final release.
  <br><br>
  <h2>SAP 7.7 - Classification Schemes: Field Archery</h2>
  <ol type="a">
    <li>The defined year for all field classifications is a calendar year.</li>
    <li>Bowstyles. The scheme shall apply to archers shooting bowstyles detailed in Rules 502 (a) and (b) i and iii -- v.
    </li>
    <li>Qualifying Scores: Please refer to the field classification tables (published separately by Archery GB) for the scores required for each bowstyle, gender, age, and round. (all tables are here: https://archerygb.org/resources/find-a-document/awards/)</li>
    <li>Archer classifications (3rd, 2nd, 1st)</li>
    <ol type="i">
      <li>Qualifying Rounds: As shown in the classifications tables referred to in XXX</li>
      <li>Total number of rounds: 3</li>
      <li>Standards: Scores may come from practice but must be shot under Archery GB Rules of Shooting.</li>
      <li>Claims: Dealt with at club level.</li>
    </ol>
    <li>Bowman classifications (3rd, 2nd, 1st)</li>
    <ol type="i">
      <li>Qualifying Rounds: As shown in the classifications tables referred to in XXX</li>
      <li>Total number of rounds: 3</li>
      <li>Standards: All scores must be shot under Archery GB Rules of Shooting, at a meeting organised by Archery GB or a body affiliated to Archery GB, or at any associated club target day (Rules of shooting - Rule 313).</li>
      <li>Claims: Dealt with at club level.</li>
    </ol>
    <li>Master Bowman classifications (Master Bowman, Grand Master Bowman, Elite Master
  Bowman)</li>
    <ol type="i">
      <li>Qualifying Rounds: As shown in the classifications tables referred to in XXX with the additional requirement that only one score from a single event may be used.</li>
      <li>Total number of rounds: 3</li>
      <li>Standards: All rounds must be shot at events organised by WA, WA Members or Archery GB, or at an Arrowhead Status or UK Record Status meeting.</li>
      <li>Claims: Dealt with by Membership Services as detailed in 3b.</li>
    </ol>
  </ol>
  <br>
  The rules could be summarised in the following table:
  </p>
  <table class="infoclasstable">
    <thead>
      <tr>
        <th>Class</th>
        <th>Sub-tiers</th>
        <th>Rounds</th>
        <th>Type of event</th>
        <th>Administered by</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td>Archer</td>
          <td>Archer 3rd Class<br>Archer 2nd Class<br>Archer 1st Class</td>
          <td rowspan="2">3 Rounds<br>as listed in tables</td>
          <td>Any event</td>
          <td rowspan="2">Clubs</td>
      </tr>
      <tr>
          <td>Bowman</td>
          <td>Bowman 3rd Class<br>Bowman 2nd Class<br>Bowman 1st Class</td>
          <!-- Merged above -->
          <td>Any competitive event</td>
          <!-- Merged above -->
      </tr>
      <tr>
          <td>Master Bowman</td>
          <td>Master Bowman<br>Grand Master Bowman<br>Elite Master Bowman</td>
          <td>3 24-Target Rounds<br>as listed in tables</td>
          <td>Any record status competition<br>(Scores must be from different events)</td>
          <td rowspan=>Archery GB</td>
      </tr>
    </tbody>
  </table>

  <br>

  Questions:
  <ul>
    <li>Happy with 12 target rounds up to bowman?</li>
    <li>Happy with lower pegs through archer tier or extend to bowman?</li>
    <li>English Longbow as a separate category?</li>
    <li>Happy with aesthetics of the tables?</li>
    <li>What about a weekend where each day is a separate 'event' e.g. two mixed rounds with medals each day?</li>
  </ul>

  <br>

  {% if tables is defined %}
  {% for key, value in tables.items() %}
  <h3>{{ key }}</h3>
  <br>
    {% from "_formhelpers.html" import render_classification_table %}
    {{ render_classification_table(classes, roundnames, value) }}
    <br>
    <br>
  {% endfor %}
  {% endif %}

{% endblock %}
