{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Archery Classification Tables For Printing{% endblock %}</h1>
{% endblock %}


{% block meta %}
    <meta name="description" content="Print pdf classification tables for Archery GB indoor, outdoor, and field rounds using UK archery GB classification system.">
    <meta property="og:title" content="Print Archery Classification Tables - ArcheryCalculator.co.uk">
    <meta property="og:description" content="Print pdf classification tables for Archery GB indoor, outdoor, and field rounds using UK archery GB classification system.">
    <meta property="og:url" content="https://archerycalculator.co.uk">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://archerycalculator.co.uk/static/image.png">
    <link rel="canonical" href="https://archerycalculator.co.uk/tables/classification">
    <!-- <link rel="icon" href="url_to_image" sizes="ssxss"> -->
{% endblock %}


{% block content %}

  <p>
  Generate classification tables using the Archery GB classification schemes that are formatted for printing.
  <br>
  For a summary of the various classification schemes see the <a href="/info">information page</a>.
  <br>
  Full regulations can be found in the <a href="https://archerygb.org/resources/find-a-document", target="blank">Shooting Administration Procedures (SAP7)</a>.
  </p>
  <p>
  Select your category and click 'Generate' to produce tables of scores that can be printed.
  <br>
  From the resulting webpage run 'file->print' or use 'ctrl+p' to generate an aesthetic pdf.
  </p>

    {% from "_formhelpers.html" import render_select2_no_search_field %}
  <form method=post>
    {{ render_select2_no_search_field(form.discipline) }}
    {{ render_select2_no_search_field(form.bowstyle) }}
    <input type=submit value=Generate>
  </form>

  {% if error %}
  <p style="color: red;">{{ error }}</p>
  {% endif %}

{% endblock %}
