{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Available Rounds{% endblock %}</h1>
{% endblock %}


{% block meta %}
    <meta name="description" content="A list of World Archery, Archery GB, IFAA, and custom indoor and outdoor target and field rounds available on archerycalculator.co.uk">
    <meta property="og:title" content="Available Rounds - ArcheryCalculator.co.uk">
    <meta property="og:description" content="A list of World Archery, Archery GB, IFAA, and custom indoor and outdoor target and field rounds available on archerycalculator.co.uk">
    <meta property="og:url" content="https://archerycalculator.co.uk">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://archerycalculator.co.uk/static/image.png">
    <link rel="canonical" href="https://archerycalculator.co.uk/rounds">
    <!-- <link rel="icon" href="url_to_image" sizes="ssxss"> -->
{% endblock %}


{% block content %}

<p>
In addition to the indoor and outdoor target archery rounds from World Archery and Archery GB this site also supports handicap calculation for a number of other rounds.
These include World Archery and IFAA field rounds, World Archery and Archery GB VI (Visually Impaired) rounds, the popular 252 scheme and Frostbite round, and individual distances to construct your own rounds.
</p>

<p>The following is a list of the rounds that are available for handicap and
classification calculations on this site.
If you would like to add further rounds (clout?) please get in touch.</p>

    {% if rounds is not none %}
      {% from "_formhelpers.html" import render_round_list %}
      <div class="row">
      {{ render_round_list(rounds) }}
      </div>
    {% endif %}


  {% if error %}
  <p>{{ error }}</p>
  {% endif %}
{% endblock %}
