{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Available Rounds{% endblock %}</h1>
{% endblock %}

{% block content %}

<p>
In addition to the indoor and outdoor target archery rounds from World Archery and Archery GB this site also supports handicap calculation for a number of other rounds.
These include World Archery and IFAA field rounds, World Archery and Archery GB VI (Visually Impaired) rounds, the popular 252 scheme and Frostbite round, and individual distances to construct your own rounds.
</p>

<p>The following is a list of the rounds that are available for handicap and
classification calculation (Under Construction).</p>



  {% if error %}
  <p>{{ error }}</p>
  {% endif %}
{% endblock %}
