{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Round comparisons{% endblock %}</h1>
{% endblock %}


{% block meta %}
    <meta name="description" content="A utility for comparing scores across World Archery, Archery GB, IFAA, and other rounds using the UK archery handicap system.">
    <meta property="og:title" content="Round comparisons - ArcheryCalculator.co.uk">
    <meta property="og:description" content="A utility for comparing scores across World Archery, Archery GB, IFAA, and other rounds using the UK archery handicap system.">
    <meta property="og:url" content="https://archerycalculator.co.uk">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://archerycalculator.co.uk/static/image.png">
    <link rel="canonical" href="https://archerycalculator.co.uk/extras/roundscomparison">
    <!-- <link rel="icon" href="url_to_image" sizes="ssxss"> -->
{% endblock %}


{% block content %}

  <p>
  Enter your score on one round to get an estimate of comparable scores on others.
  </p>

  {% from "_formhelpers.html" import render_textin_field, render_box, render_box_list, render_select2_field %}
  <form method=post>
    {{ render_textin_field(form.score) }}
    {{ render_select2_field(form.roundname) }}
    {{ render_box(form.compound) }}
    <span>Show comparable scores for:</span>
    {% set boxlist = [form.outdoor, form.indoor, form.wafield, form.ifaafield, form.clout, form.virounds, form.unofficial] %}
    {{ render_box_list(boxlist) }}
    <input type=submit value=Calculate>

  {% if error %}
  <p style="color: red;">{{ error }}</p>
  {% endif %}
  </form>

    {% if results is not none %}
      {% from "_formhelpers.html" import render_round_comparison %}
      If you score {{ '%0.0f'|format(request.form["score"]|float) }} on a {{ request.form["roundname"] }} round you can expect the following scores on the following rounds:
      <div class="row">
      {{ render_round_comparison(results) }}
      </div>
    {% endif %}

{% endblock %}
