<!doctype html>

<head>
    <script src="https://kit.fontawesome.com/5e18878647.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<title>{% block title %}{% endblock %}ArcheryCalculator.co.uk</title>

<nav>
  <h1>ArcheryCalculator.co.uk</h1>
  <ul>
    <li><a href="{{ '/' }}">Calculator</a>
    <li><a href="{{ '/rounds' }}">Rounds</a>
    <li><a href="{{ '/information' }}">Info</a>
    <li><a href="{{ '/about' }}">About</a>
  </ul>
</nav>

<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>

  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}

  {% block content %}{% endblock %}
</section>

<footer>
    <p> website by <a href="https://jackatkinson.net/" target="_blank">jack atkinson</a> &#169; 2023 - <a href="https://github.com/jatkinson1000/archerycalculator" class="fa-brands fa-github" target="_blank"></a> - <a href="#" class="fa-solid fa-mug-hot" target="_blank"></a> </p>
</footer>

</body>
