{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Archery Handicap and Classification Calculator{% endblock %}</h1>
{% endblock %}

{% block content %}

  <datalist id="bowstylelist">
  {% for bowstyle in bowstyles %}
  <option>{{bowstyle['bowstyle']}}</option>
  {% endfor %}
  </datalist>

  <datalist id="roundlist">
  {% for round in rounds %}
  <option>{{round['round_name']}}</option>
  {% endfor %}
  </datalist>

  <datalist id="genderlist">
  {% for gender in genders %}
  <option>{{gender['gender']}}</option>
  {% endfor %}
  </datalist>

  <datalist id="agelist">
  {% for age_group in ages %}
  <option>{{age_group['age_group']}}</option>
  {% endfor %}
  </datalist>

  {% from "_formhelpers.html" import render_field %}
  <form method=post>
    <dl>
      {{ render_field(form.bowstyle, list="bowstylelist") }}
      {{ render_field(form.gender, list="genderlist") }}
      {{ render_field(form.age, list="agelist") }}
      {{ render_field(form.roundname, list="roundlist") }}
      {{ render_field(form.score) }}
    </dl>
    <p><input type=submit value=Calculate>
  </form>

  <p>The <b>handicap</b> For a score of {{ results["score" ]}} on a {{ results["roundname"] }} is <b>{{ results["handicap"] }}</b>.</p>
  <p>Your <b>classification</b> a score of {{ results["score"] }} on a {{ results["roundname"] }} is <b>{{ results["classification"] }}</b>.</p>
  <p>The maximum possible score on a {{ results["roundname.data"] }} is {{ results["maxscore"] }}</p>
  <p>A handicap of {{ results["handicap"] }} represents an angular spread of {{ '%0.3f'|format(sig_t) }} degrees and
     a typical group size of {{ '%0.2f'|format(sig_r_18) }}cm at 18m, {{ '%0.2f'|format(sig_r_50) }}cm at 50m,
     and {{ '%0.2f'|format(sig_r_70) }}cm at 70m.</p>

{% endblock %}
